*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: red;
    height: 10vh;
    font-size: 30px;
    display: none;
}
.section1 {
    background-color: yellow;
    height: 30vh;
}
.hsec1 { background-color: yellow;
font-weight: bold;}
.section2 { 
    background-color: orangered;
    height: 30vh;
}
.hsec2 { background-color: orangered;
font-weight: bold;}
.section3 {
    background-color: green;
    height: 30vh;
}
.hsec3 { background-color: green;
}
p {
    font-weight: bold;
}

@media screen and ( max-width: 768px) {
    nav {
        display:block ;
        background-color: red;
    }
    section {
        .section1 {
            background-color: yellow;
            height: 25vh;
        }
        .hsec1 { background-color: yellow;
        font-weight: bold;}
        .section2 { 
            background-color: orangered;
            height: 25vh;
        }
        .hsec2 { background-color: orangered;
        font-weight: bold;}
        .section3 {
            background-color: green;
            height: 29vh;
        }
        .hsec3 { background-color: green;
        }
        p {
            font-weight: bold;
        }
    }
    @media screen and (max-width = 800px) {
        
    }
    nav { display:block;
    background-color: rgb(252, 106, 131);

}
    .section1 {
        background-color: palevioletred;
        height: 25vh;
    }
    .hsec1 { background-color: palevioletred;
    font-weight: bold;}
    .section2 { 
        background-color: teal;
        height: 25vh;
    }
    .hsec2 { background-color: teal;
    font-weight: bold;}
    .section3 {
        background-color: navy;
        height: 29vh;
    }
    .hsec3 { background-color: navy;
    }
    p {
        font-weight: bold;
    }
}
@media screen and (max-width: 360px) {
    
}
    .bodym{
    nav { display: block;
        background-color: #5352e5;
        box-sizing: content-box;
    }
    .section1 {
        background-color: cyan;
        height: 25vh;
    }
    .hsec1 { background-color: cyan;
    font-weight: bold;}
    .section2 { 
        background-color: purple;
        height: 25vh;
    }
    .hsec2 { background-color: purple;
    font-weight: bold;}
    .section3 {
        background-color: navy;
        height: 29vh;
    }
    .hsec3 { background-color: navy;
    }
    p {
        font-weight: bold;
    }
}

