h1{
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration-color: thistle;
}
body{
    background-color: antiquewhite
    ;
    text-size-adjust: 200px;
    text-decoration-color: burlywood;
    text-align: justify;
}
img{-webkit-border-image: round;}